body{
  background-color: #110133;
  font-family: sans-serif;
  font-weight: 400;
}

h1{
  color: #ffdc34;

}

h2{
 color: #4dd599;
 font-weight: 400;
 
}


ul{
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
}

li {
  color: inherit;
  border-bottom: 1px solid #00918e;
  margin-right: 40%
}


a {
    text-decoration: none;
}

a:hover
{
     color:white;
     text-decoration:none;
     cursor:pointer;
}

.anchor_tags{
  width: 200px;
 height: 100px;
 margin: auto;
 padding: 10%
}

.center {
  margin: auto;
  width: auto;
  padding: 20%;
}
